<%= hidden_field_tag "show_state_old", '' %>
<%= hidden_field_tag "show_state", '' %>

<h3 class="title_section row">
  <span class="col-sm-3 col-xs-12 title_number">01</span>
  <span class="col-sm-9 title_header">Crea il tuo preventivo</span>
</h3>
<div class="row">
  <div class="col-md-9 col-md-offset-3">
    <p class="in_product_text">Di seguito potrai scegliere le bandiere istituzionali che vorrai realizzare.</p>
    <p class="in_product_text">Potrai decidere di stampare pi&ugrave; soggetti, nella sezione <em>Quantit&agrave; e data di consegna</em> la quante bandiere per soggetto.</p>
    <p class="in_product_text">Se hai dubbi o domande non esitare a contattarci.</p>
  </div>
</div>
<div class="row">
  <div class="col-md-9 col-md-offset-3">
    <%= text_field_tag 'ricerca', nil, size: 25, maxlength: 25, class: "form-control" %>
  </div>
</div>
<div class="row">
  <div class="col-md-9 col-md-offset-3">
    <% stati_mondo = render partial: 'spree/products/custom/shared/stati_mondo' %>
    <% json = JSON.parse( stati_mondo , symbolize_names: true) %>
    <% json.each do |stato| %>
      <div class="col-xs-6 col-sm-2" stato="<%= stato[:nome].downcase %>" continente="<%= stato[:continente].downcase %>" data-product-check="stati">
        <a class="button-options" role="button">
          <%= image_tag("flags/#{stato[:sigla].downcase}.svg", alt: stato[:nome]) %>
          <p><%= stato[:sigla] %></p>
        </a>
      </div>
    <% end %>
  </div>
</div>
<div class="consegna">
  <%= render partial: 'spree/products/custom/shared/quantity_and_date' %>
</div>
<div class="riepilogo">
  <%= render partial: 'spree/products/custom/shared/riepilogo', locals:{ numero:3 }%>
</div>

<%= javascript_include_tag "spree/frontend/products/bandiere_istituzionali" %>
