<%= hidden_field_tag "show_state_old", '' %>
<%= hidden_field_tag "show_state", '' %>

<h3 class="title_section row">
  <span class="col-sm-3 col-xs-12 title_number">01</span>
  <span class="col-sm-9 title_header">Crea il tuo preventivo</span>
</h3>
<div class="row">
  <div class="col-md-9 col-md-offset-3">
    <p class="in_product_text">Seguendo questi semplici passi creerai un preventivo basato sulle tue esigienze, personalizza il prodotto in base alle tue necessit&agrave;</p>
    <p class="in_product_text">Potrai seguire i nostri semplici step oppure personalizzare completamete la tua bandiera.</p>
    <p class="in_product_text">Se hai dubbi o domande non esitare a contattarci</p>
  </div>
</div>
<%= render partial: 'spree/products/custom/shared/nome' %>
<%= render partial: 'spree/products/custom/shared/soggetti' %>
<hr>
<div class="forma row">
  <div class="col-md-3">
    <%= label_tag(:tessuti, "Seleziona forma")%>
  </div>
  <div class="col-md-9">
    <div class="row-form">
      <div class="col-xs-6 col-sm-3">
        <a href="mod_goccia" class="button-options" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="mod_goccia" data-product-show="1" data-product-options="mod_goccia" data-product-selection="modello">
          <%= image_tag("bandiera_personalizzata/nautico.png", alt: "Tessuto nautico 110g/m") %>
          <p>Mod. Goccia</p>
        </a>
      </div>
      <div class="col-xs-6 col-sm-3">
        <a href="mod_vela" class="button-options" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="mod_vela" data-product-show="1" data-product-options="mod_vela" data-product-selection="modello">
          <%= image_tag("bandiera_personalizzata/ponge.png", alt: "Tessuto Ponge 90g/m") %>
          <p>Mod. Vela</p>
        </a>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="misura row">
  <div class="col-md-3">
    <%= label_tag(:tessuti, "Seleziona la misura")%>
  </div>
  <div class="col-md-9">
    <div class="row-form">
      <div class="col-xs-6 col-sm-3">
        <a href="misura_s" class="button-options" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="misura_s" data-product-show="1" data-product-options="misura_s" data-product-selection="misura">
          <%= image_tag("bandiera_personalizzata/nautico.png", alt: "Tessuto nautico 110g/m") %>
          <p>Small</p>
        </a>
      </div>
      <div class="col-xs-6 col-sm-3">
        <a href="misura_m" class="button-options" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="misura_m" data-product-show="1" data-product-options="misura_m" data-product-selection="misura">
          <%= image_tag("bandiera_personalizzata/ponge.png", alt: "Tessuto Ponge 90g/m") %>
          <p>Medium</p>
        </a>
      </div>
      <div class="col-xs-6 col-sm-3">
        <a href="misura_l" class="button-options" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="misura_l" data-product-show="1" data-product-options="misura_l" data-product-selection="misura">
          <%= image_tag("bandiera_personalizzata/forato.png", alt: "Tessuto forato 110g/m") %>
          <p>Large</p>
        </a>
      </div>
      <div class="col-xs-6 col-sm-3">
        <a href="misura_xl" class="button-options" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="misura_xl" data-product-show="1" data-product-options="misura_xl" data-product-selection="misura">
          <%= image_tag("bandiera_personalizzata/retato.png", alt: "Tessuto retato 110g/m") %>
          <p>Extra Large</p>
        </a>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="struttura row"> <!-- orientamento -->
  <div class="col-md-3">
    <%= label_tag(:formato, "Struttura") %>
  </div>
  <div class="col-md-9">
    <div class="row-form">
      <div class="col-xs-6 col-sm-3">
        <a class="button-options" role="button" data-product-show="2" data-product-options="si" data-product-selection="si">
          <%= image_tag("bandiera_personalizzata/horizontal.svg", alt: "Bandiera personalizzata Orizzontale") %>
          <p>Struttura completa</p>
        </a>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="basi row"> <!-- orientamento -->
  <div class="col-md-3">
    <%= label_tag(:formato, "Seleziona la base") %>
  </div>
  <div class="col-md-9">
    <div class="row-form">
      <div class="col-xs-6 col-sm-3">
        <a class="button-options" role="button" data-product-show="2" data-product-options="base_a_croce" data-product-selection="base_a_croce">
          <%= image_tag("bandiera_personalizzata/horizontal.svg", alt: "Bandiera personalizzata Orizzontale") %>
          <p>Base a croce</p>
        </a>
      </div>
      <div class="col-xs-6 col-sm-3">
        <a class="button-options" role="button" data-product-show="2" data-product-options="base_quadra_metallo" data-product-selection="base_quadra_metallo">
          <%= image_tag("bandiera_personalizzata/vertical.svg", alt: "Bandiera personalizzata Verticale") %>
          <p>Base in metallo</p>
        </a>
      </div>
      <div class="col-xs-6 col-sm-3">
        <a class="button-options" role="button" data-product-show="2" data-product-options="puntale" data-product-selection="puntale">
          <%= image_tag("bandiera_personalizzata/horizontal.svg", alt: "Bandiera personalizzata Orizzontale") %>
          <p>Puntale</p>
        </a>
      </div>
      <div class="col-xs-6 col-sm-3">
        <a class="button-options" role="button" data-product-show="2" data-product-options="base_riempibile" data-product-selection="base_riempibile">
          <%= image_tag("bandiera_personalizzata/vertical.svg", alt: "Bandiera personalizzata Verticale") %>
          <p>Base riempibile 19L</p>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="consegna">
  <%= render partial: 'spree/products/custom/shared/quantity_and_date' %>
</div>
<div class="servizi_extra">
  <%= render partial: 'spree/products/custom/shared/servizi_extra' %>
</div>
<div class="riepilogo">
  <%= render partial: 'spree/products/custom/shared/riepilogo' %>
</div>

<%= javascript_include_tag "spree/frontend/products/beach_flag" %>
