<%= hidden_field_tag "show_state_old", '' %>
<%= hidden_field_tag "show_state", '' %>

<h3 class="title_section row">
  <span class="col-sm-3 col-xs-12 title_number">01</span>
  <span class="col-sm-9 title_header">Crea il tuo preventivo</span>
</h3>
<div class="row">
  <div class="col-md-9 col-md-offset-3">
    <p class="in_product_text">Seguendo questi semplici passi creerai un preventivo basato sulle tue esigienze, personalizza il prodotto in base alle tue necessit&agrave;</p>
    <p class="in_product_text">Potrai seguire i nostri semplici step oppure personalizzare completamete il tuo filare.</p>
    <p class="in_product_text">Se hai dubbi o domande non esitare a contattarci</p>
  </div>
</div>
<%= render partial: 'spree/products/custom/shared/nome' %>
<hr>
<div class="row"> <!-- formato -->
  <div class="col-md-3">
    <%= label_tag(:formato, "Formato") %>
  </div>
  <div class="col-md-9">
    <div class="selezione_orientamento row-form">
      <div class="col-xs-6 col-sm-3">
        <a class="button-options" role="button" data-product-show="1" data-product-options="triangolare" data-product-selection="formato">
          <%= image_tag("bandiera_personalizzata/horizontal.svg", alt: "Bandierina triangolare") %>
          <p>Triangolare</p>
        </a>
      </div>
      <div class="col-xs-6 col-sm-3">
        <a class="button-options" role="button" data-product-show="1" data-product-options="rettangolare" data-product-selection="formato">
          <%= image_tag("bandiera_personalizzata/vertical.svg", alt: "Bandierina rettangolare") %>
          <p>Rettangolare</p>
        </a>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="row"> <!-- misura -->
  <div class="col-md-3">
    <%= label_tag(:misura_bandierine, "Misura bandierine") %>
  </div>
  <div class="col-md-3" data-need-show="triangolare">
    <%= select_tag "misura_bandierine", options_for_select(["Lato sinistro", "Lato destro"], "Lato sinistro"), class: "form-control" %>
  </div>
  <div class="col-md-3" data-need-show="rettangolare">
    <%= select_tag "misura_bandierine",  class: "form-control" %>
  </div>
</div>
<div class="row"> <!-- lunghezza -->
  <div class="col-md-3">
    <%= label_tag(:lunghezza, "Lunghezza") %>
  </div>
  <div class="col-md-3">
    <%= number_field_tag :lunghezza, 10, class: 'title form-control', min: 3, max: 20 %>
  </div>
  <div class="col-md-6">
    5 bandierine a filare
  </div>
</div>
<hr>
<div class="row"> <!-- scelta colori -->
  <div class="col-md-3">
    <%= label_tag(:colori, "Scegli i tuoi colori") %>
  </div>
  <div class="col-md-9">
    <div class="selezione_orientamento row-form">
      <% colori = ['Rosso','Blu','giallo','verde','cyan','arancio','nero','bianco','personalizzata'] %>
      <% colori.each do |colore| %>
        <div class="col-xs-3 col-md-2">
          <a class="button-options" role="button">
            <%= image_tag("filari/bandierina_#{colore.downcase}.svg", class:'draggable', alt: "Bandierina #{colore.downcase}", colore: colore.downcase) %>
            <p><%= colore %></p>
          </a>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="row"> <!-- colori scelti -->
  <div class="col-md-3">
    <%= label_tag(:colori_scelti, "Trascina qui i tuoi colori") %>
  </div>
  <div class="col-md-9">
    <div class="selezione_orientamento row-form">
      <div id="colori_scelti" class="col-xs-12" style="height:100px; background-color:#e6e6e6;">
      </div>
    </div>
  </div>
</div>

<div class="caricamento_file"></div>

<%= render partial: 'spree/products/custom/shared/quantity_and_date' %>
<%= render partial: 'spree/products/custom/shared/servizi_extra' %>

<h3 class="title_section row">
  <span class="col-sm-3 col-xs-12 title_number">04</span>
  <span class="col-sm-9 title_header">Riepilogo</span>
</h3>
<div class="col-md-9 col-md-offset-3">
  <div class="row">
    <div class="riepilogo_interno nome_lavoro">
      <h4>
        <strong>Nome Lavoro</strong>
      </h4>
      <p id="lbl_nome_lavoro">Lavorazione</p>
    </div>
    <div class="riepilogo_interno quantita">
      <h4>
        <strong>Quantit&agrave;</strong>
      </h4>
      <p id="lbl_quantita">1</p>
    </div>
    <div class="riepilogo_interno giorno_di_consegna">
      <h4>
        <strong>Giorno di Consegna</strong>
      </h4>
      <p id="lbl_giorno_di_consegna"></p>
    </div>
  </div>
</div>

<%= javascript_include_tag "jquery.ui.touch-punch.min" %>
<%= javascript_include_tag "spree/frontend/products/filari" %>
