<div class="panel panel-default">
  <div class="panel-body">
    <p><strong><%= address.firstname + " " + address.lastname %></strong></p>
    <p><%= address.address1 %></p>
    <%= ("<p>" + address.address2 + "</p>").html_safe unless address.address2.nil? || address.address2 == "" %> 
    <p><%= address.zipcode + ", " + address.city %></p>

    <%= link_to edit_address_path(address) do %>
    <span class="grigo-icons grigo-modify"></span><span><%= Spree.t(:edit) %></span>
	<% end %>
	<%= link_to Spree.t(:remove), address_path(address), method: :delete, confirm: Spree.t(:are_you_sure) if type=='ship' %>
  </div>
</div>
