<div class="container-fluid" data-hook="account_container">
  <div class="row">
    <div class="order-list sidenav">
      <%= render 'spree/users/profilo_tabs', current: :indirizzi %>
    </div>
    <div class="order-list-container">
      <div class="row">
        <h3>Indirizzo di fatturazione</h3>
      </div>
      <div class="row">
        <% if spree_current_user.fatturazione.nil? %>
          <%= link_to 'Aggiungi un indirizzo di fatturazione', controller: :addresses, action: :new, type: 'fatt' %>
        <% else %>
        <div class="col-sm-6<%= ' selected' if @user.fatturazione.id == @user.ship_address.id %>">
          <%= render partial: 'spree/users/address_show', locals: { address: @user.fatturazione } %>
        </div>
        <% end %>
      </div>
      <div class="row">
        <h3>Indirizzi di spedizione</h3>
      </div>
      <div class="row">
        <div class="grid-container-address col-xs-12">
        <% spree_current_user.ship_addresses.each do |address| %>
          <div class="grid-address<%= ' selected' if address.id == @user.ship_address.id %>">
            <%= render partial: 'spree/users/address_show', locals: { address: address } %>
          </div>
        <% end %>
        </div>
      </div>
      <div class="row">
        <%= link_to t(:add_new_shipping_address, scope: :address_book), controller: :addresses, action: :new, type: 'sped' %>
      </div>
    </div>
  </div>
</div>
