<div class="container-fluid" data-hook="account_container">
  <div class="row">
    <svg
      width="0"
      height="0">
      <defs>
        <clipPath id="clipping">
          <rect x="0" y="0" width="75" height="75"/><path d="M37.5,2l30.744,17.75l0,35.5l-30.744,17.75l-30.744,-17.75l0,-35.5l30.744,-17.75Z"/>
      </clipPath>
      </defs>
    </svg>
    <div class="order-list sidenav">
      <%= render 'spree/users/profilo_tabs', current: :utente %>
    </div>
    <div class="order-list-container">
      <div class="row">
        <div class="col-sm-6">
          <div class="panel panel-default">
            <h4>Account <%= @user.piva ? 'Aziendale' : 'Personale' %></h4>
            <div class="panel-body">
              <p><%= @user.fatturazione.firstname + " " + @user.fatturazione.lastname %></p>
              <p>E-mail:  <%= @user.email %></p>
              <p>
                <%= link_to Spree.t(:logout),"/logout", :class => 'btn btn-dark' %>
              </p>
            </div>
          </div>
        </div>

        <% if(@user.piva) %>
          <div class="col-sm-6">
            <div class="panel panel-default">
              <h4>Dati azienda</h4>
              <div class="panel-body">
                
                <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @user } %>
                <%= form_for Spree::User.new, :as => @user, :url => spree.user_path(@user), :method => :put do |f| %>
                  <fieldset id="password-credentials">
                    <div class="form-group">
                      <%= f.text_field :ragione_sociale, :class => 'form-control', :placeholder => 'Ragione Sociale azienda' %>
                    </div>
                    <div class="form-group">
                      <%= f.text_field :piva, :class => 'form-control', :placeholder => 'Partita Iva' %>
                    </div>
                    <div class="form-group">
                      <%= f.text_field :cf, :class => 'form-control', :placeholder => 'codiace Fiscale' %>
                    </div>
                  </fieldset>
                  <p>
                    <%= f.submit Spree.t(:update), :class => 'btn btn-success' %>
                  </p>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="panel panel-default">
            <h4>Dati di fatturazione</h4>
            <div class="panel-body">
            <address>
              <%= @user.fatturazione.firstname + " " + @user.fatturazione.lastname %> <br>
              <%= @user.fatturazione.address1 + " " + @user.fatturazione.address2 %> <br>
              <%= @user.fatturazione.zipcode + " - " + @user.fatturazione.city  %>
              <%= @user.fatturazione.state_name %> <br>
            </address>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="panel panel-default">
            <h4>Indirizzo di spedizione standard</h4>
            <div class="panel-body">
            <address>
              <%= @user.ship_address.firstname + " " + @user.ship_address.lastname %> <br>
              <%= @user.ship_address.address1 + " " + @user.ship_address.address2 %> <br>
              <%= @user.ship_address.zipcode + " - " + @user.ship_address.city  %>
              <%= @user.ship_address.state_name %> <br>
            </address>
            </div>
          </div>
        </div>
      </div>
        <div class="row">
        <div class="col-sm-6">
          <div class="panel panel-default">
            <h4>Cambio e-mail</h4>
            <div class="panel-body">
              <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @user } %>
              <%= form_for Spree::User.new, :url => spree.user_path(@user), :method => :put do |f| %>
                <fieldset id="password-credentials">
                  <div class="form-group">
                    <%= f.email_field :email, :class => 'form-control', :placeholder => Spree.t(:email) %>
                  </div>
                  <div class="form-group">
                    <%= f.email_field :email, :class => 'form-control', :placeholder => Spree.t(:confirm_email) %>
                  </div>
                  <div class="form-group">
                    <%= f.password_field :password_old, :class => 'form-control', :placeholder => Spree.t(:password), autocomplete:"off" %>
                  </div>
                </fieldset>
                <p>
                  <%= f.submit Spree.t(:update), :class => 'btn btn-success' %>
                </p>
              <% end %>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="panel panel-default">
            <h4>Cambio Password</h4>
            <div class="panel-body">
              <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @user } %>
              <%= form_for Spree::User.new, :url => spree.user_path(@user), :method => :put do |f| %>
                <fieldset id="password-credentials">
                  <div class="form-group">
                    <%= f.password_field :password_old, :class => 'form-control', :placeholder => 'Vecchia password' %>
                  </div>
                  <div class="form-group">
                    <%= f.password_field :password, :class => 'form-control', :placeholder => Spree.t(:password) %>
                  </div>
                  <div class="form-group">
                    <%= f.password_field :password_confirmation, :class => 'form-control', :placeholder => Spree.t(:confirm_password), autocomplete:"off" %>
                  </div>
                </fieldset>
                <p>
                  <%= f.submit Spree.t(:update), :class => 'btn btn-success' %>
                </p>
              <% end %>
            </div>
          </div>
        </div>
      
      </div>
    </div>

  </div>
</div>
