<div class="container-fluid" data-hook="account_container">
  <div class="row">
    <div class="order-list sidenav">
      <%= render 'spree/users/profilo_tabs', current: :ordini_non_completi %>
    </div>
    <!-- Inizio Tabella -->
    <div class="order-list-container">
      <h2><%= Spree.t(:orders) %></h2>
      <hr>
      <h3>Ordini in Corso</h3>
      <div class="table-orders-warp">
        <!-- Titoli della tabella -->
        <div class="table-orders">
          <div class="order-tab order-tab--title clearfix hidden-xs">
            <div class="col-sm-2">
              <h4>N Ordine</h4>
            </div>
            <div class="col-sm-2">
              <h4>Data ordine</h4>
            </div>
            <div class="col-sm-2">
              <h4>Importo tot.</h4>
            </div>
            <div class="col-sm-2">
              <h4>Stato</h4>
            </div>
            <div class="col-sm-2">
              <h4>Pagamento</h4>
            </div>
            <div class="col-sm-2">
              <h4>Azioni</h4>
            </div>
          </div>
          <!-- Fine titoli della tabella -->
          <!-- Inizio contenuto della tabella -->
          <ul>
            <li>
              <a href="#" class="order-tab order-tab--content clearfix">
                <div class="col-sm-2">
                  <p data-label="n Ordine">000000</p>
                </div>
                <div class="col-sm-2">
                  <p data-label="ndata ordine">01/01/2018</p>
                </div>
                <div class="col-sm-2">
                  <p data-label="importo tot.">€ 185,90</p>
                </div>
                <div class="col-sm-2">
                  <p data-label="stato" class="success"><span>in corso</span></p>
                </div>
                <div class="col-sm-2">
                  <p data-label="pagamento">pagamento</p>
                </div>
                <div class="col-sm-2">
                  <p data-label="azioni">azione richiesta</p>
                </div>
              </a>
            </li>
            <li>
              <a href="#" class="order-tab order-tab--content clearfix">
                <div class="col-sm-2">
                  <p data-label="n Ordine">000000</p>
                </div>
                <div class="col-sm-2">
                  <p data-label="ndata ordine">01/01/2018</p>
                </div>
                <div class="col-sm-2">
                  <p data-label="importo tot.">€ 185,90</p>
                </div>
                <div class="col-sm-2">
                  <p data-label="stato" class="warning"><span>in corso</span></p>
                </div>
                <div class="col-sm-2">
                  <p data-label="pagamento">pagamento</p>
                </div>
                <div class="col-sm-2">
                  <p data-label="azioni">azione richiesta</p>
                </div>
              </a>
            </li>
            <li>
              <a href="#" class="order-tab order-tab--content clearfix">
                <div class="col-sm-2">
                  <p data-label="n Ordine">000000</p>
                </div>
                <div class="col-sm-2">
                  <p data-label="ndata ordine">01/01/2018</p>
                </div>
                <div class="col-sm-2">
                  <p data-label="importo tot.">€ 185,90</p>
                </div>
                <div class="col-sm-2">
                  <p data-label="stato" class="allert"><span>in corso</span></p>
                </div>
                <div class="col-sm-2">
                  <p data-label="pagamento">pagamento</p>
                </div>
                <div class="col-sm-2">
                  <p data-label="azioni">azione richiesta</p>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <hr>
      <h3>Ordini in Completati</h3>
      <div class="table-orders-warp">
        <!-- Titoli della tabella -->
        <div class="table-orders">
          <div class="order-tab order-tab--title clearfix hidden-xs">
            <div class="col-sm-2">
              <h4>N Ordine</h4>
            </div>
            <div class="col-sm-2">
              <h4>Data ordine</h4>
            </div>
            <div class="col-sm-2">
              <h4>Importo tot.</h4>
            </div>
            <div class="col-sm-2">
              <h4>Stato</h4>
            </div>
            <div class="col-sm-2">
              <h4>Pagamento</h4>
            </div>
            <div class="col-sm-2">
              <h4>Azioni</h4>
            </div>
          </div>
          <!-- Fine titoli della tabella -->
          <!-- Inizio contenuto della tabella -->
          <ul>
            <li>
              <a href="#" class="order-tab order-tab--content clearfix">
                <div class="col-sm-2">
                  <p data-label="n Ordine">000000</p>
                </div>
                <div class="col-sm-2">
                  <p data-label="ndata ordine">01/01/2018</p>
                </div>
                <div class="col-sm-2">
                  <p data-label="importo tot.">€ 185,90</p>
                </div>
                <div class="col-sm-2">
                  <p data-label="stato" class="completed"><span>completato</span></p>
                </div>
                <div class="col-sm-2">
                  <p data-label="pagamento">pagamento</p>
                </div>
                <div class="col-sm-2">
                  <p data-label="azioni">azione richiesta</p>
                </div>
              </a>
            </li>
            <li>
              <a href="#" class="order-tab order-tab--content clearfix">
                <div class="col-sm-2">
                  <p data-label="n Ordine">000000</p>
                </div>
                <div class="col-sm-2">
                  <p data-label="ndata ordine">01/01/2018</p>
                </div>
                <div class="col-sm-2">
                  <p data-label="importo tot.">€ 185,90</p>
                </div>
                <div class="col-sm-2">
                  <p data-label="stato" class="completed"><span>completato</span></p>
                </div>
                <div class="col-sm-2">
                  <p data-label="pagamento">pagamento</p>
                </div>
                <div class="col-sm-2">
                  <p data-label="azioni">azione richiesta</p>
                </div>
              </a>
            </li>
            <li>
              <a href="#" class="order-tab order-tab--content clearfix">
                <div class="col-sm-2">
                  <p data-label="n Ordine">000000</p>
                </div>
                <div class="col-sm-2">
                  <p data-label="ndata ordine">01/01/2018</p>
                </div>
                <div class="col-sm-2">
                  <p data-label="importo tot.">€ 185,90</p>
                </div>
                <div class="col-sm-2">
                  <p data-label="stato" class="completed"><span>completato</span></p>
                </div>
                <div class="col-sm-2">
                  <p data-label="pagamento">pagamento</p>
                </div>
                <div class="col-sm-2">
                  <p data-label="azioni">azione richiesta</p>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- Inizio interno ordini layout ordine pronto con specifiche interne-->
      <div class="order-details col-xs-12">
        <div class="order-contact-details">
          <div class="col-sm-4">
            <h3>Indirzzo di consegna</h3>
            <h4 class="order-name">Grigolini Marcello</h4>
            <p><span>Via tal dei tali, 38</span>
               <span>37047 - San Bonifacio (VR)</span> 
             </p>
          </div>
          <div class="col-sm-4">
            <h3>Persona di riferimento</h3>
            <h4 class="order-name">Antonio</h4>
            <p>
              <span>Telefono: <strong>+39 3482343949</strong></span>
              <span>E-mail: <strong>info@bandieregrigolini.it</strong></span>
            </p>
          </div>
          <div class="col-sm-4">
            <h3>Indirizzo mittente</h3>
            <h4 class="order-name">Azienda esterna/interna</h4>
            <p><span>Via tal dei tali, 38</span>
               <span>37047 - San Bonifacio (VR)</span> 
             </p>
          </div>
        </div>
      <div class="row">
        <div class="col-xs-12 inner-order-spec">
          <h3 class="title_section clearfix">
          <span class="title_number col-sm-2">Lav 1</span>
          <span class="title_header col-sm-10">Bandiera</span>
          </h3>
          <div class="status_warp clearfix">
            <div class="status-order-title">
              <h3>Stato ordine:</h3>
            </div>
            <div class="status-bar-warp">
              <svg viewBox="0 0 670 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                <style type="text/css">
                path{fill:#08415C}
                </style>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M25.4906 22C22.9607 25.627 18.7574 28 14 28C6.26807 28 0 21.732 0 14C0 6.26801 6.26807 0 14 0C19.1819 0 23.7064 2.81539 26.1271 7H129.873C132.294 2.81539 136.818 0 142 0C147.182 0 151.706 2.81539 154.127 7H258.873C261.294 2.81539 265.818 0 271 0C276.182 0 280.706 2.81539 283.127 7H386.873C389.294 2.81539 393.818 0 399 0C404.182 0 408.706 2.81539 411.127 7H515.873C518.294 2.81539 522.818 0 528 0C533.182 0 537.706 2.81539 540.127 7H643.873C646.294 2.81539 650.818 0 656 0C663.732 0 670 6.26801 670 14C670 21.732 663.732 28 656 28C651.243 28 647.039 25.627 644.509 22H539.491C536.961 25.627 532.757 28 528 28C523.243 28 519.039 25.627 516.509 22H410.491C407.961 25.627 403.757 28 399 28C394.243 28 390.039 25.627 387.509 22H282.491C279.961 25.627 275.757 28 271 28C266.243 28 262.039 25.627 259.509 22H153.491C150.961 25.627 146.757 28 142 28C137.243 28 133.039 25.627 130.509 22H25.4906Z" fill="#08415C"/>
                <defs>
                <linearGradient id="confermato">
                  <stop offset="5%" stop-color="#08415C" />
                  <stop offset="15%" stop-color="#8EA8B4" />
                </linearGradient>
                <linearGradient id="caricato">
                  <stop offset="30%" stop-color="#08415C" />
                  <stop offset="35%" stop-color="#8EA8B4" />
                </linearGradient>
                <linearGradient id="approvazione">
                  <stop offset="45%" stop-color="#08415C" />
                  <stop offset="55%" stop-color="#8EA8B4" />
                </linearGradient>
                <linearGradient id="stampato">
                  <stop offset="65%" stop-color="#08415C" />
                  <stop offset="75%" stop-color="#8EA8B4" />
                </linearGradient>
                <linearGradient id="spedito">
                  <stop offset="85%" stop-color="#08415C" />
                  <stop offset="95%" stop-color="#8EA8B4" />
                </linearGradient>
                </defs>
              </svg>
              <div class="list-status">
                <ul>
                  <li>Confermato</li><!--
                  --><li>File Caricato</li><!--
                  --><li>Approvazione</li><!--
                  --><li>Stampato</li><!--
                  --><li>Spedito</li><!--
                  --><li>Consegnato</li>
                </ul>
              </div>
            </div>
            <div class="col-xs-12">
              <hr>
              <h3>Specifiche Ordine</h3>
              <div class="grids_container">
              <div class="list-product-description">
                <ul>
                  <li>
                    <p class="clearfix">
                      <span class="col-xs-12"><strong>Propiet&agrave; 1:</strong></span>
                      <span class="col-xs-12">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus id cumque unde et, sequi mollitia ducimus nostrum rerum harum. Ducimus eveniet ullam voluptatibus, omnis est consequatur doloremque eum debitis mollitia.</span>
                    </p>
                  </li>
                  <li>
                    <p class="clearfix">
                      <span class="col-xs-12"><strong>Propiet&agrave; 1:</strong></span>
                      <span class="col-xs-12">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus id cumque unde et, sequi mollitia ducimus nostrum rerum harum. Ducimus eveniet ullam voluptatibus, omnis est consequatur doloremque eum debitis mollitia.</span>
                    </p>
                  </li>
                  <li>
                    <p class="clearfix">
                      <span class="col-xs-12"><strong>Propiet&agrave; 1:</strong></span>
                      <span class="col-xs-12">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus id cumque unde et, sequi mollitia ducimus nostrum rerum harum. Ducimus eveniet ullam voluptatibus, omnis est consequatur doloremque eum debitis mollitia.</span>
                    </p>
                  </li>
                  <li>
                    <p class="clearfix">
                      <span class="col-xs-12"><strong>Propiet&agrave; 1:</strong></span>
                      <span class="col-xs-12">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus id cumque unde et, sequi mollitia ducimus nostrum rerum harum. Ducimus eveniet ullam voluptatibus, omnis est consequatur doloremque eum debitis mollitia.</span>
                    </p>
                  </li>
                </ul>
              </div>
              <div class="product-photo ">
                <%= image_tag("bandiera_personalizzata/nautico.png", alt: "Tessuto nautico 110g/m") %>
              </div>
              </div>
            </div>
          </div>
          <!-- tasto apertura specifiche ordine -->
          <div class="warp-arrow">
            <a href="#" class="open-order-intern grigo-icons grigo-arrow"></a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 inner-order-spec">
          <h3 class="title_section clearfix">
          <span class="title_number col-sm-2">Lav 1</span>
          <span class="title_header col-sm-10">Bandiera</span>
          </h3>
          <div class="status_warp clearfix">
            <div class="col-md-3">
              <h3>Stato ordine:</h3>
            </div>
            <div class="status-bar-warp">
              <svg viewBox="0 0 670 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                <style type="text/css">
                path{fill:#08415C}
                </style>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M25.4906 22C22.9607 25.627 18.7574 28 14 28C6.26807 28 0 21.732 0 14C0 6.26801 6.26807 0 14 0C19.1819 0 23.7064 2.81539 26.1271 7H129.873C132.294 2.81539 136.818 0 142 0C147.182 0 151.706 2.81539 154.127 7H258.873C261.294 2.81539 265.818 0 271 0C276.182 0 280.706 2.81539 283.127 7H386.873C389.294 2.81539 393.818 0 399 0C404.182 0 408.706 2.81539 411.127 7H515.873C518.294 2.81539 522.818 0 528 0C533.182 0 537.706 2.81539 540.127 7H643.873C646.294 2.81539 650.818 0 656 0C663.732 0 670 6.26801 670 14C670 21.732 663.732 28 656 28C651.243 28 647.039 25.627 644.509 22H539.491C536.961 25.627 532.757 28 528 28C523.243 28 519.039 25.627 516.509 22H410.491C407.961 25.627 403.757 28 399 28C394.243 28 390.039 25.627 387.509 22H282.491C279.961 25.627 275.757 28 271 28C266.243 28 262.039 25.627 259.509 22H153.491C150.961 25.627 146.757 28 142 28C137.243 28 133.039 25.627 130.509 22H25.4906Z" fill="#08415C"/>
                <defs>
                <linearGradient id="confermato">
                  <stop offset="5%" stop-color="#08415C" />
                  <stop offset="15%" stop-color="#8EA8B4" />
                </linearGradient>
                <linearGradient id="caricato">
                  <stop offset="30%" stop-color="#08415C" />
                  <stop offset="35%" stop-color="#8EA8B4" />
                </linearGradient>
                <linearGradient id="approvazione">
                  <stop offset="45%" stop-color="#08415C" />
                  <stop offset="55%" stop-color="#8EA8B4" />
                </linearGradient>
                <linearGradient id="stampato">
                  <stop offset="65%" stop-color="#08415C" />
                  <stop offset="75%" stop-color="#8EA8B4" />
                </linearGradient>
                <linearGradient id="spedito">
                  <stop offset="85%" stop-color="#08415C" />
                  <stop offset="95%" stop-color="#8EA8B4" />
                </linearGradient>
                </defs>
              </svg>
              <div class="list-status">
                <ul>
                  <li>Confermato</li><!--
                  --><li>File Caricato</li><!--
                  --><li>Approvazione</li><!--
                  --><li>Stampato</li><!--
                  --><li>Spedito</li><!--
                  --><li>Consegnato</li>
                </ul>
              </div>
            </div>
            <div class="col-xs-12">
              <hr>
              <h3>Caricamento file</h3>
              <div class="col-sm-12 col-xs-12 list-product-loading">
                <form class="box" method="post" action="" enctype="multipart/form-data">
                  <div class="box__input">
                    <input class="box__file" type="file" name="files[]" id="file" data-multiple-caption="{count} files selected" multiple />
                    <label for="file"><strong>Choose a file</strong><span class="box__dragndrop"> or drag it here</span>.</label>
                    <button class="btn button button-default" type="submit">Carica file</button>
                  </div>
                  <div class="box__uploading">Uploading&hellip;</div>
                  <div class="box__success">Done!</div>
                  <div class="box__error">Error! <span></span>.</div>
                </form>
              </div>
            </div>
          </div>
          <!-- tasto apertura specifiche ordine -->
          <div class="warp-arrow"> 
            <a href="#" class="open-order-intern grigo-icons grigo-arrow"></a>
          </div>
        </div>
      </div>
      <!-- fine last row -->
      </div>
    </div>
  </div>
</div>
<!-- Fine interno ordini layout ordine pronto con specifiche interne -->
<!-- Fine contenuto della tabella -->
<!-- <div data-hook="account_my_orders" class="account-my-orders">
  <h3><%= 'Ordini in corso' %></h3>
  <% if @orders.present? %>
  <table class="table table-striped order-summary">
    <thead class="active">
      <tr>
        <th class="order-number"><%= Spree::Order.human_attribute_name(:number) %></th>
        <th class="order-date"><%= Spree.t(:date) %></th>
        <th class="order-status"><%= Spree.t(:status) %></th>
        <th class="order-payment-state"><%= Spree.t(:payment_state) %></th>
        <th class="order-shipment-state"><%= Spree.t(:shipment_state) %></th>
        <th class="order-total"><%= Spree.t(:total) %></th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
      <tr>
        <td class="order-number"><%= link_to order.number, order_url(order) %></td>
        <td class="order-date"><%= l order.completed_at.to_date %></td>
        <td class="order-status"><%= Spree.t("order_state.#{order.state}").titleize %></td>
        <td class="order-payment-state"><%= Spree.t("payment_states.#{order.payment_state}").titleize if order.payment_state %></td>
        <td class="order-shipment-state"><%= Spree.t("shipment_states.#{order.shipment_state}").titleize if order.shipment_state %></td>
        <td class="lead text-primary order-total"><%= order.display_total %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% else %>
  <div class="alert alert-info"><%= Spree.t(:you_have_no_orders_yet) %></div>
  <% end %>
  <br />
</div> -->