<%= form_for :order, url: populate_orders_path, html: {id: "form_prodotto"} do |f| %>
<div class="row" id="inside-product-cart-form" data-hook="inside_product_cart_form" itemprop="offers" itemscope="itemscope" itemtype="https://schema.org/Offer">

  <%= hidden_field_tag "variant_id", @product.master.id %>
  <%= hidden_field_tag "prodotto_personalizzato", "bandiera_personalizzata" %>
  <%= hidden_field_tag "orientamento", 'nil' %>
  <%= hidden_field_tag "finitura", "nil" %>

  <% if @product.price_in(current_currency) && !@product.price.nil? %>
    <div data-hook="product_price" class="col-md-12 ">
      <div class="preventivo configurazione">
        <h3 class="title_section row">
          <span class="col-sm-3 title_number">01</span>
          <span class="col-sm-9">Crea il tuo preventivo</span>
        </h3>
        <div class="row">
          <div class="col-md-9 col-md-offset-3">
            <p class="in_product_text">Seguendo questi semplici passi creerai un preventivo basato sulle tue esigienze, personalizza il prodotto in base alle tue necessit&agrave;</p>
            <p class="in_product_text">Potrai seguire i nostri semplici step oppure personalizzare completamete la tua bandiera.</p>
            <p class="in_product_text">Se hai dubbi o domande non esitare a contattarci</p>
          </div>
        </div>
        <div class="nome lavorazione row ">
          <div class="col-md-3">
            <%= label_tag(:lavorazione, "Assegna un nome alla lavorazione")%>
          </div>
          <div class="col-md-3">
            <div class="row">
              <%= text_field_tag 'name', nil, size: 25, maxlength: 25, class: "form-control" %>
            </div>
          </div>
          <div class="info-panel col-md-9 col-md-offset-3" id="info-panel-nome">
            <p class="bg-success"></p>
            <p class="bg-warning">Attenzione il nome deve avere almeno 3 caratteri</p>
            <p class="bg-danger">Il nome della lavorazione non pu&ograve; essere vuoto</p>
          </div>
        </div>
        <hr>
        <div class="tessuto row">
          <div class="col-md-3">
            <%= label_tag(:tessuti, "Scegli il tessuto")%>
          </div>
          <div class="col-md-9">
            <div class="row-form">
              <div class="col-xs-6 col-sm-3">
                <a href="#nautico" class="button-options selezione scelta_tessuto" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="nautico">
                  <%= image_tag("bandiera_personalizzata/nautico.png", alt: "Tessuto nautico 110g/m") %>
                  <p>Nautico</p>
                </a>
              </div>
              <div class="col-xs-6 col-sm-3">
                <a href="#ponge" class="button-options selezione scelta_tessuto" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="ponge">
                  <%= image_tag("bandiera_personalizzata/ponge.png", alt: "Tessuto Ponge 90g/m") %>
                  <p>Pong&egrave;</p>
                </a>
              </div>
              <div class="col-xs-6 col-sm-3">
                <a href="#forato" class="button-options selezione scelta_tessuto" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="forato">
                  <%= image_tag("bandiera_personalizzata/forato.png", alt: "Tessuto forato 110g/m") %>
                  <p>Passavento</p>
                </a>
              </div>
              <div class="col-xs-6 col-sm-3">
                <a href="#retato" class="button-options selezione scelta_tessuto" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="retato">
                  <%= image_tag("bandiera_personalizzata/retato.png", alt: "Tessuto retato 110g/m") %>
                  <p>Rete</p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-9 col-md-offset-3">
            <div class="col-md-12 alert-info collapse" id="nautico">
              <a class="btn" href="#nautico" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="nautico">x</a>
              <h3>Tessuto nautico</h3>
              <p>
                <em>Tessuto 110g</em>
              </p>
              <p>
                Il tessuto classico da bandiera a 3 pettini, 110g, 100% poliestere, indemagliabile (non sfila), &eacute; il pi&ugrave; robusto nella famiglia dei nautici.</p>
            </div>
            <div class="col-md-12 alert-info collapse" id="ponge">
              <a class="btn" href="#ponge" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="ponge">x</a>
              <h3>Tessuto pong&egrave;</h3>
              <p>
                <em>Tessuto 85g</em>
              </p>
              <p>Tessuto in pongè in tela si usa quando una bandiera deve sventolare bene, battuto di puro poliestere , un tessuto che vola. Viene di solito confezionato con manica nelle bandiere ma anche altre finiture gli si accordano. Viene utilizzato anche nei
                foulard e nelle pochette. 100% poliestere
              </p>
            </div>
            <div class="col-md-12 alert-info collapse" id="forato">
              <a class="btn" href="#forato" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="forato">x</a>
              <h3>Tessuto forato</h3>
              <p>
                <em>Tessuto 115g</em>
              </p>
              <p>Tessuto per bandiere indemagliabile a punto annodato (non sfila) rinforzato con addensamenti di trama ben battuti che lo fanno più resistente ed ha buchi lenticolari per permettere il passaggio di più vento.</p>
            </div>
            <div class="col-md-12 alert-info collapse" id="retato">
              <a class="btn" href="#retato" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="retato">x</a>
              <h3>Tessuto retato</h3>
              <p>
                <em>Tessuto 220g</em>
              </p>
              <p>Tessuto per bandiere robustissimo con durata eccezionale. Il contro è che è talmente grosso che si può stampare solo monofacciale (da una parte sola) poiché il colore non filtra. Viene utilizzato nelle bandiere quando vi è necessità di durata o
                per impieghi dove l’effetto rete è richiesto.</p>
            </div>
          </div>
        </div>
        <hr>
        <div class="orientamento row">
          <div class="col-md-3">
            <%= label_tag(:formato, "Formato") %>
          </div>
          <div class="col-md-9">
            <div class="selezione_orientamento row-form">
              <div class="col-xs-6 col-sm-3">
                <div id="btn_orizzontale" class="button-options scelta_orientamento orizzontale" role="button">
                  <%= image_tag("bandiera_personalizzata/horizontal.svg", alt: "Bandiera personalizzata Orizzontale") %>
                  <p>Orizzontale</p>
                </div>
              </div>
              <div class="col-xs-6 col-sm-3">
                <div id="btn_verticale" class="button-options scelta_orientamento verticale" role="button">
                  <%= image_tag("bandiera_personalizzata/vertical.svg", alt: "Bandiera personalizzata Verticale") %>
                  <p>Verticale</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="base row">
          <div class="col-md-3">
            <%= label_tag(:base, "Base") %>
          </div>
          <div class="col-md-3">
            <%= number_field_tag :base, 150, class: 'title form-control', min: 30, step: 5 %>
          </div>
        </div>
        <div class="altezza row">
          <div class="col-md-3">
            <%= label_tag(:altezza, "Altezza") %>
          </div>
          <div class="col-md-3">
            <%= number_field_tag :altezza, 150, class: 'title form-control', min: 30, step: 5 %>
          </div>
        </div>
        <hr>
        <div class="att_orizzontale att_verticale finitura_lato_asta row">
          <div class="col-md-3">
            <%= label_tag(:lato_asta, "Seleziona lato asta") %>
          </div>
          <div class="col-md-3">
            <%= select_tag "Lato asta", options_for_select(["Lato sinistro", "Lato destro"], "Lato sinistro"), class: "form-control" %>
          </div>
        </div>
        <hr>
        <div class="att_orizzontale scelta_finitura_lato_asta row">
          <div class="col-md-3">
            <%= label_tag(:seleziona_finitura, "Seleziona finitura")%>
          </div>
          <div class="col-md-9">
            <div class="row-form">
              <div class="col-xs-6 col-sm-3">
                <div id="btn_manica" class="button-options scelta_finitura_lato_asta" role="button">
                  <!--nascondo se verticale-->
                  <%= image_tag("bandiera_personalizzata/manica.svg", alt: "Bandiera personalizzata con manica lato asta") %>
                  <p>Manica</p>
                </div>
              </div>
              <div class="col-xs-6 col-sm-3">
                <div id="btn_fettuccia" class="button-options scelta_finitura_lato_asta" role="button">
                  <!--nascondo se orizzontale-->
                  <%= image_tag("bandiera_personalizzata/fettuccia.svg", alt: "Bandiera personalizzata con fettuccia di rinforzo") %>
                  <p>Fettuccia</p>
                </div>
              </div>
              <div class="col-xs-6 col-sm-3 hidden">
                <div class="button-options finitura_personalizzata" role="button">
                  <!-- sempre visibile -->
                  <img src="" alt="personalizzata">
                  <p>Personalizzata</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="att_orizzontale att_manica scelta_tipo_manica scelta_finitura_specifica specifica_manica row">
          <!-- Nascosta se fettuccia -->
          <div class="col-md-3">
            <%= label_tag(:seleziona_tipo_manica, "Seleziona tipo manica")%>
          </div>
          <div class="col-md-9">
            <div class="row-form">
              <div class="col-xs-6 col-sm-3">
                <a href="#chiusa" class="button-options scelta_tipo_manica manica_chiusa" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="chiusa">
                  <%= image_tag("bandiera_personalizzata/manica_chiusa.svg", alt: "Bandiera orizzontale con manica chiusa e laccetto sotto") %>
                  <p>Chiusa</p>
                </a>
              </div>
              <div class="col-xs-6 col-sm-3">
                <a href="#aperta" class="button-options scelta_tipo_manica manica_aperta" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="aperta">
                  <%= image_tag("bandiera_personalizzata/manica_aperta.svg", alt: "Bandiera orizzontale con manica aperta, laccetto sotto e laccetto sopra") %>
                  <p>Aperta</p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-9 col-md-offset-3">
            <div class="col-md-12 alert-info collapse" id="chiusa">
              <a class="btn" href="#chiusa" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="chiusa">x</a>
              <ul>
                <li>Manica chiusa sopra</li>
                <li>Laccetti sotto</li>
              </ul>
            </div>
            <div class="col-md-12 alert-info collapse" id="aperta">
              <a class="btn" href="#aperta" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="aperta">x</a>
              <ul>
                <li>Manica aperta sopra e sotto</li>
                <li>Laccetti sopra</li>
                <li>Laccetti sotto</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="att_verticale att_orizzontale att_fettuccia scelta_finitura_specifica specifica_fettuccia row">
          <!-- Nascosta se manica -->
          <div class="att_verticale col-md-12">
            <div class="row">
              <div class="col-md-3">
                <%= label_tag(:manica_superiore, "Vuoi la manica superiore")%>
              </div>
              <div class="col-md-3">
                <%= select_tag "Manica superiore", options_for_select(["Si", "No"], "Si"), class: "form-control" %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <%= label_tag(:aperta_o_chiusa, "Vuoi la manica aperta o chiusa")%>
              </div>
              <div class="col-md-3">
                <%= select_tag "Aperta o Chiusa", options_for_select(["Aperta", "Chiusa"], "Aperta"), class: "form-control" %>
              </div>
            </div>
          </div>

          <div class="att_verticale att_orizzontale col-md-12">
            <div class="row">
              <div class="col-md-3">
                <%= label_tag(:seleziona_tipo_fettuccia, "Seleziona finitura fettuccia")%>
              </div>
              <div class="col-md-9">
                <div class="row-form">
                  <div class="att_orizzontale col-xs-6 col-sm-3">
                    <a href="#cappio" class="button-options scelta_acessori_fettuccia selezione cappio_cordino" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="cappio">
                      <!-- nascosto se verticale -->
                      <%= image_tag("bandiera_personalizzata/cappio.svg", alt: "Bandiera con fettuccia di rinforzo, cappio superiore e cordino inferiore") %>
                      <p>Cappio e cordino</p>
                    </a>
                  </div>
                  <div class="col-xs-6 col-sm-3 correct_occhielli">
                    <a href="#occhielli" class="button-options scelta_acessori_fettuccia selezione occhielli" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="occhielli">

                      <%= image_tag("bandiera_personalizzata/occhielli.svg", alt: "Bandiera con fettuccia di rinforzo e occhielli") %>
                      <p>Occhielli</p>
                    </a>
                  </div>
                  <div class="col-xs-6 col-sm-3">
                    <a href="#moschettoni" class="button-options scelta_acessori_fettuccia selezione moschettoni" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="moschettoni">
                      <%= image_tag("bandiera_personalizzata/moschettoni.svg", alt: "Bandiera con fettuccia di rinforzo e moschettoni") %>
                      <p>Moschettoni</p>
                    </a>
                  </div>
                  <div class="col-xs-6 col-sm-3">
                    <a href="#laccetti" class="button-options scelta_acessori_fettuccia selezione laccetti" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="laccetti">
                      <%= image_tag("bandiera_personalizzata/laccetti.svg", alt: "Bandiera con fettuccia di rinforzo e laccetti") %>
                      <p>Laccetti</p>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-md-9 col-md-offset-3">
                <div class="col-md-12 alert-info collapse" id="cappio">
                  <a class="btn" href="#cappio" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="cappio">x</a>
                  <ul>
                    <li>Fettuccia di rinforzo</li>
                    <li>Cappio superiore</li>
                    <li>Cordino inferiore</li>
                  </ul>
                </div>
                <div class="col-md-12 alert-info collapse" id="occhielli">
                  <a class="btn" href="#occhielli" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="occhielli">x</a>
                  <ul>
                    <li>Fettuccia di rinforzo</li>
                    <li>Occhielli ogni 50cm</li>
                  </ul>
                </div>
                <div class="col-md-12 alert-info collapse" id="moschettoni">
                  <a class="btn" href="#moschettoni" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="moschettoni">x</a>
                  <ul>
                    <li>Fettuccia di rinforzo</li>
                    <li>Moschettoni ogni 50cm</li>
                  </ul>
                </div>
                <div class="col-md-12 alert-info collapse" id="laccetti">
                  <a class="btn" href="#laccetti" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="laccetti">x</a>
                  <ul>
                    <li>Fettuccia di rinforzo</li>
                    <li>Laccetti ogni 50cm</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="caricamento_file"></div>
        <div class="row preventivo consegna">
          <%= render partial: 'spree/products/quantity_and_date' %>
        </div>

        <div class="row preventivo extra">
          <%= render partial: 'spree/products/servizi_extra' %>
        </div>
        <div class="row preventivo riepilogo">
          <h3 class="title_section row">
            <span class="col-sm-3 title_number">04</span>
            <span class="col-sm-9">Riepilogo</span>
          </h3>
          <div class="col-md-9 col-md-offset-3">
            <div class="row">
              <div class="riepilogo_interno nome_lavoro">
                <h4>
                  <strong>Nome Lavoro</strong>
                </h4>
                <p id="nome_lavoro">Lavorazione</p>
              </div>
              <div class="riepilogo_interno quantita">
                <h4>
                  <strong>Quantit&agrave;</strong>
                </h4>
                <p id="quantita">100</p>
              </div>
              <div class="riepilogo_interno giorno_di_consegna">
                <h4>
                  <strong>Giorno di Consegna</strong>
                </h4>
                <p id="giorno_di_consegna">25 Marzo</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 total_prezzo">
            <% if @product.can_supply? %>
              <div id="product-price">
              <h4 class="product-section-title">
                <strong><%= Spree.t(:price) %></strong>
              </h4>
              <div>
                <span id="prezzo" class="lead price selling" itemprop="price" content="<%= @product.price_in(current_currency).amount.to_d %>">
                  <%= display_price(@product) %>
                </span>
                <span itemprop="priceCurrency" content="<%= current_currency %>"></span>
              </div>

              <% if @product.master.can_supply? %>
                <link itemprop="availability" href="https://schema.org/InStock"/>
              <% elsif @product.variants.empty? %>
              <br/>
                <span class="out-of-stock"><%= Spree.t(:out_of_stock) %></span>
              <% end %>
            </div>
              <div class="add-to-cart">
                  <br/>
                  <div class="input-group">
                    <span class="input-group-btn btn-options">
                      <%= button_tag class: 'btn btn-options btn btn-options-success', id: 'add-to-cart-button', type: :submit do %>
                       <%= Spree.t(:add_to_cart) %>
                      <% end %>
                    </span>
                  </div>
                </div>
            <% else %>
              <div id="product-price">
              <br/>
              <div>
                <span class="price selling" itemprop="price">
                  <%= Spree.t('product_not_available_in_this_currency') %>
                </span>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<% end %>
<script>
$(document).on("change", "#base", calcola_prezzo);
$(document).on("change", "#altezza", calcola_prezzo);
$(document).click(function (e) {
  if (!$(e.target).is('.button-options')) {
    $('.collapse').collapse('hide');
  }
})
function calcola_prezzo() {
  $.ajax({
    type: "POST", url: "/price_flag", data: $("#form_prodotto").serialize() //this will enable you to use params[:periods] and params[:age] in your controller
  })
}
</script>
