<%= form_for :order, url: populate_orders_path, html: {id: "form_prodotto"} do |f| %>
  <div class="row" id="inside-product-cart-form" data-hook="inside_product_cart_form" itemprop="offers" itemscope itemtype="https://schema.org/Offer">

      <%= hidden_field_tag "variant_id", @product.master.id %>
      <%= hidden_field_tag "prodotto_personalizzato", "bandera_personalizzata" %>

    <% if @product.price_in(current_currency) && !@product.price.nil? %>
      <div data-hook="product_price" class="col-md-12 ">
        <div class="container-fluid preventivo configurazione">
          <div class="title_section row">
              <span class="col-sm-1">01</span>
              <h3 class="col-md-11">Crea il tuo preventivo</h3>
              <p class="lead col-md-1 col-md-offset-1">TEXT</p>
          </div>
          <%= image_tag(@product.identifica_img("tesla").attachment.url(:large), class: "thumbnail") %>
          <div class="nome lavorazione row">
            <div class="col-md-2">
              <%= label_tag(:lavorazione, "Assegna un nome alla lavorazione")%>
            </div>
            <div class="col-md-6">
              <%= text_field_tag(:nome, value = nil, options = {size: 25, maxlength: 25}) %>
            </div>
          </div>
          <hr>
          <div class="tessuto row">
            <div class="col-md-2">
              <%= label_tag(:tessuti, "Scegli il tessuto")%>
            </div>
            <div class="col-md-10">
              <div class="row">
                <div class="col-md-3">
                  <div class="scelta_tessut" role="button">
                    <img src="#" alt="Tessuto nautico 110g/m">
                    <p>Tessuto nautico 110g/m</p>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="scelta_tessut" role="button">
                    <img src="#" alt="Tessuto ponge 110g/m">
                    <p>Tessuto ponge 110g/m</p>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="scelta_tessut" role="button">
                    <img src="#" alt="Tessuto forato 110g/m">
                    <p>Tessuto forato 110g/m</p>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="scelta_tessut" role="button">
                    <img src="#" alt="Tessuto retato 110g/m">
                    <p>Tessuto retato 110g/m</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="orientamento row">
            <div class="col-md-2">
              <%= label_tag(:formato, "Formato") %>
            </div>
            <div class="col-md-10">
              <div class="selezione_orientamento row">
                <div class="col-md-3 col-md-offset-3">
                  <div class="scelta_orientamento orizzontale" role="button">
                    <img src="#" alt="Orizzontale">
                    <p>Orizzontale</p>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="scelta_orientamento verticale" role="button">
                    <img src="#" alt="Verticale">
                    <p>Verticale</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="base row">
            <div class="col-md-2">
              <%= label_tag(:base, "Base") %>
            </div>
            <div class="col-md-6">
              <%= number_field_tag :base, 150, class: 'title form-control', min: 30, step: 5 %>
            </div>
          </div>
          <div class="altezza row">
            <div class="col-md-2">
              <%= label_tag(:altezza, "Altezza") %>
            </div>
            <div class="col-md-6">
              <%= number_field_tag :altezza, 150, class: 'title form-control', min: 30, step: 5 %>
            </div>
          </div>
          <hr>
          <div class="finitura_lato_asta row">
            <div class="col-md-2">
              <%= label_tag(:lato_asta, "Seleziona lato asta") %>
            </div>
            <div class="col-md-6">
              <%= select_tag "Lato asta", options_for_select(["Lato sinistro", "Lato destro"], "Lato sinistro") %>
            </div>
          </div>
          <hr>
          <div class="scelta_finitura row">
            <div class="col-md-2">
              <%= label_tag(:seleziona_finitura, "Seleziona finitura")%>
            </div>
            <div class="finitura_manica col-md-5" role="button"> <!--nascondo se verticale-->
              <img src="" alt="manica">
              <p>Manica</p>
            </div>
            <div class="finitura_fettuccia col-md-5" role="button"> <!--nascondo se orizzontale-->
              <img src="" alt="fettuccia">
              <p>Fettuccia</p>
            </div>
            <div class="finitura_personalizzata col-md-5" role="button"> <!-- sempre visibile -->
              <img src="" alt="personalizzata">
              <p>Personalizzata</p>
            </div>
          </div>
          <div class="scelta_finitura_specifica specifica_manica row"> <!-- Nascosta se fettuccia -->
            <div class="col-md-2">
              <%= label_tag(:seleziona_tipo_manica, "Seleziona tipo manica")%>
            </div>
            <div class="manica_chiusa col-md-5" role="button">
              <img src="" alt="manica chiusa">
              <ul>
                <li>Manica chiusa sopra</li>
                <li>Laccetti sotto</li>
              </ul>
            </div>
            <div class="manica_aperta col-md-5" role="button">
              <img src="" alt="manica aperta">
              <ul>
                <li>Manica aperta sopra</li>
                <li>Laccetti sopra</li>
                <li>Laccetti sotto</li>
              </ul>
            </div>
          </div>min: 5, max: 70
          <div class="scelta_finitura_specifica specifica_fettuccia row"> <!-- Nascosta se manica -->
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-2">
                  <%= label_tag(:manica_superiore, "Vuoi la manica superiore")%>
                </div>
                <div class="col-md-4">
                  <%= select_tag "Manica superiore", options_for_select(["Si", "No"], "Si") %>
                </div>
                <div class="col-md-2">
                  <%= label_tag(:aperta_o_chiusa, "Vuoi la manica aperta o chiusa")%>
                </div>
                <div class="col-md-4">
                  <%= select_tag "Aperta o Chiusa", options_for_select(["Aperta", "Chiusa"], "Aperta") %>
                </div>
              </div>
            </div>

            <div class="col-md-2">
              <%= label_tag(:seleziona_tipo_fettuccia, "Seleziona finitura fettuccia")%>
            </div>
            <div class="col-md-10">
              <div class="row">
                <div class="cappio_cordino col-md-3" role="button"> <!-- nascosto se verticale -->
                  <img src="" alt="Cappio e cordino">
                  <ul>
                    <li>Fettuccia di rinforzo</li>
                    <li>Cappio superiore</li>
                    <li>Cordino inferiore</li>
                  </ul>
                </div>
                <div class="occhielli col-md-3" role="button">
                  <img src="" alt="occhielli">
                  <ul>
                    <li>Fettuccia di rinforzo</li>
                    <li>Occhielli ogni 50cm</li>
                  </ul>
                </div>
                <div class="moschettoni col-md-3" role="button">
                  <img src="" alt="moschettoni">
                  <ul>
                    <li>Fettuccia di rinforzo</li>
                    <li>Moschettoni ogni 50cm</li>
                  </ul>
                </div>
                <div class="laccetti col-md-3" role="button">
                  <img src="" alt="laccetti">
                  <ul>
                    <li>Fetticcia di rinforzo</li>
                    <li>Laccetti sopra e sotto</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <hr>
        <div class="caricamento_file">

        </div>
        <div class="row preventivo consegna">
          <%= render partial: 'spree/products/quantity_and_date' %>
        </div>

        <div class="row preventivo extra">

        </div>

        <div id="product-price">
          <h6 class="product-section-title"><%= Spree.t(:price) %></h6>
          <div>
            <span id="prezzo", class="lead price selling" itemprop="price" content="<%= @product.price_in(current_currency).amount.to_d %>">
              <%= display_price(@product) %>
            </span>
            <span itemprop="priceCurrency" content="<%= current_currency %>"></span>
          </div>

          <% if @product.master.can_supply? %>
            <link itemprop="availability" href="https://schema.org/InStock" />
          <% elsif @product.variants.empty? %>
            <br />
            <span class="out-of-stock"><%= Spree.t(:out_of_stock) %></span>
          <% end %>
        </div>
        <%= button_tag class: 'btn btn-success', id: 'add-to-cart-button', type: :submit do %>
          <%= Spree.t(:add_to_cart) %>
        <% end %>
        <!--
        <% if @product.can_supply? %>
          <div class="add-to-cart">
            <br />
            <div class="input-group">
              <%= number_field_tag :quantity, 1, class: 'title form-control', min: 1 %>
              <span class="input-group-btn">
                <%= button_tag class: 'btn btn-success', id: 'add-to-cart-button', type: :submit do %>
                  <%= Spree.t(:add_to_cart) %>
                <% end %>
              </span>
            </div>
          </div>
        <% end %>

        <% else %>
        <div id="product-price">
          <br />
          <div>
            <span class="price selling" itemprop="price">
              <%= Spree.t('product_not_available_in_this_currency') %>
            </span>
          </div>
        </div>
      <% end %>
    </div>
  -->
  </div>
  <script>
    $(document).on("change","#base",calcola_prezzo);
    $(document).on("change","#altezza",calcola_prezzo);
    function calcola_prezzo(){
      $.ajax({
        type: "POST",
        url: "/price_flag",
        data: $("#form_prodotto").serialize() //this will enable you to use params[:periods] and params[:age] in your controller
      })
    }

  </script>
<% end %>
