
  <%= link_to Spree.t(:my_account), spree.account_path %>
  <%= link_to Spree.t(:my_account), spree.account_path %>

<% if spree_current_user %>
  <%= link_to Spree.t(:logout), spree.logout_path %>
<% else %>
  <%= render partial: 'spree/shared/login' %>
  <!-- <%= link_to Spree.t(:login), spree.login_path, class: "btn btn-primary" %> -->
  <%= link_to Spree.t(:create_a_new_account), spree.signup_path, class: "link_to_sigup" %>
<% end %>


<!-- Log/out  -->
<!-- <li><%= link_to Spree.t(:logout), spree.logout_path %></li> -->
