<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]> <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]> <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]> <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!-->
<html lang="<%= I18n.locale %>">
  <!--<![endif]-->
  <head data-hook="inside_head">
    <%= render partial: 'spree/shared/head' %>
  </head>
  <body class="<%= body_class %>" id="<%= @body_id || 'default' %>" data-hook="body">
    <%= render partial: 'spree/shared/google_analytics.js' %>
    <%= render partial: 'spree/shared/trackers/segment/initializer.js' %>
    <div class="st-container" id="st-container">


        <%= render partial: 'spree/shared/header' %>
        <nav id="menu-1" class="st-menu st-effect-1">
          <h3>Bandiere</h3>
          <a href="#">Bandiere Personalizzate</a>
          <a href="#">Bandiere per Istituzionali</a>
          <a href="#">Beachflags</a>

          <h3>Teli Stampati</h3>
          <a href="#">Cornici</a>
          <a href="#">Poster</a>
          <a href="#">Striscioni</a>
          <h3>Ombrelli</h3>
          <a href="#">Ombrelli Personalizzati</a>
          <a href="#">Ombrelloni</a>
          <a href="#">Ombrelloni a Braccio</a>
        </nav>
        <div class="st-pusher">


        <div class="st-content">
          <div class="st-content-inner">


          <div class="container-fluid">
            <div class="row" data-hook="data-hook">
              <%= breadcrumbs(@taxon) %>

              <%= render partial: 'spree/shared/sidebar' if content_for? :sidebar %>

              <div id="content" class="<%= !content_for?(:sidebar) ? "" : "col-sm-8 col-md-9" %>" data-hook="data-hook">
                <%= flash_messages %>
                <%= yield %>
              </div>

              <%= yield :templates %>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
    <%= javascript_include_tag "classie" %>
    <%= javascript_include_tag "sideBar" %>
  </body>
</html>
