<div class="row" data-need-show="<%= need_show %>"> <!-- base -->
  <div class="col-md-3">
    <%= label_tag(:base, "Base") %>
  </div>
  <div class="col-md-3">
    <%= number_field_tag :base, 150, class: 'title form-control', min: 30, step: 5 %>
  </div>
</div>
<div class="row" data-need-show="<%= need_show %>"> <!-- altezza -->
  <div class="col-md-3">
    <%= label_tag(:altezza, "Altezza") %>
  </div>
  <div class="col-md-3">
    <%= number_field_tag :altezza, 150, class: 'title form-control', min: 30, step: 5 %>
  </div>
</div>

<%= javascript_include_tag "spree/frontend/products/base_altezza.js" %>
