<%= render 'order_actions', order: @order, events: @order_events %>

<%= render 'spree/admin/shared/order_tabs', current: :approva_files %>

<div data-hook="admin_order_edit_header">
  <%= render 'spree/admin/shared/error_messages', target: @order %>
</div>

<h1>Prodotti Personalizzati che necessitano di un file di stampa</h1>


<table id='line-items' class="table" data-hook="order_details">
  <col width="15%" valign="middle" halign="center">
  <col width="45%" valign="middle">
  <col width="40%" valign="middle">

  <thead data-hook>
    <tr class="active" data-hook="order_details_line_items_headers">
      <th colspan="2">Prodotto Ordinato</th>
      <th class="price">File caricati</th>
    </tr>
  </thead>

  <tbody data-hook>
    <% @order.line_items.each do |item| %>
    <% if item.product.personalizzabile == 1 %>
        <tr data-hook="order_details_line_item_row">
          <td data-hook="order_item_image">
            <% if item.variant.images.length == 0 %>
              <%= link_to small_image(item.variant.product), item.variant.product %>
            <% else %>
              <%= link_to image_tag(item.variant.images.first.attachment.url(:small)), item.variant.product %>
            <% end %>
          </td>
          <td data-hook="order_item_description">
            <h4><%= item.name %></h4>
            <%= item.more_options %>
          </td>
          <td><div>
            <%= form_tag do %>
              <%= link_to_with_icon 'save', "Approva File", "#", class: 'btn btn-success btn-sm', id: "approva_#{item.id}", no_text: true, title: "Approva File" %>
              <%= link_to_with_icon 'delete', "Disapprova File", "#", class: 'btn btn-danger btn-sm', data: { toggle: "modal", target: "#modal_disapprovazione_#{item.id}" }, title: "Disapprova File", no_text: true %>
              <!-- Modal "motivazione Disapprovazione" -->
              <div class="modal fade" id="modal_disapprovazione_<%= item.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel">Motiva la Disapprovazione File</h4>
                    </div>
                    <div class="modal-body">
                      <textarea id="motivazione_disapprovazione_<%= item.id %>" rows=10 style="width: 100%">il file non è stato approvato
La Invitiamo a consultare la nostra guida sui file da caricare</textarea>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary" id="disapprova_<%= item.id %>" data-dismiss="modal">Disapprova File</button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- , data: { toggle: "modal", target: "#modal_storico_#{item.id}"} -->
              <%= link_to_with_icon 'arrow-left', "Visualizza Storico", "#", id: "storico_#{item.id}", class: 'btn btn-default btn-sm', title: "Visualizza storico", no_text: true %>
              <!-- Modal "storico files" -->
              <div class="modal fade" id="modal_storico_<%= item.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel">Storico Files</h4>
                    </div>
                    <div class="modal-body" id="body_storico_<%= item.id %>">
                      ...
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
            <%= form_for(Spree::Upload.new, html: {id: "new_upload_#{item.id}", multipart: true, class: "dropzone"}) do |f|  %>
              <%= hidden_field_tag "upload[order_id]", @order.id %>
              <%= hidden_field_tag "upload[line_item_id]", item.id %>
              <div class="fallback">
                <%= f.file_field :image %><br>
                <%= f.submit "Upload" %>
              </div>
            <% end %>
          </div></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">
Dropzone.autoDiscover = false;
  <% @order.line_items.each do |item| %>
    new Dropzone("#new_upload_<%= item.id %>", {

      //url: "/upload_photo", // You can override url of form in here.

      //maxFiles: 10, // da errore e non ti fa togliere il file, da gestire noi
      maxFilesize: 50, // in MB
      maxFiles: 10,
      parallelUploads: 1,

      acceptedFiles:'.jpg, .png, .jpeg',// .pdf, .ai, .eps', // type of files

      // non mettendone una mantiene le proprozioni
      //thumbnailWidth: 120,
      //thumbnailHeight: 120,

      // changed the passed param to one accepted by
      // our rails app
      paramName: "upload[image]",

      addRemoveLinks: true,

      success: function(file, response){
  			// find the remove button link of the uploaded file and give it an id
  			// based of the fileID response from the server
  			$(file.previewTemplate).find('.dz-remove').attr('id', response.fileID);
  			// add the dz-success class (the green tick sign)
  			$(file.previewElement).addClass("dz-success");
  		},
  		//when the remove button is clicked
  		removedfile: function(file){
  			// grap the id of the uploaded file we set earlier
  			var id = $(file.previewTemplate).find('.dz-remove').attr('id');

  			// make a DELETE ajax request to delete the file
  			$.ajax({
  				type: 'DELETE',
  				url: '/uploads/' + id,
  				success: function(data){
  					console.log(data.message);
            // TOLGO ANTEPRIMA
            $(document).find(file.previewElement).remove();
  				}
  			});
      },
      // aggiungo file gia presenti nel server
      init: function () {
        <% item.upload.each do |file| %>
          var mockFile = {name: "<%= file.image_file_name %>", size: <%= file.image_file_size %>, type: '<%= file.image_content_type %>', accepted: true };
          this.options.addedfile.call(this, mockFile);
          this.options.thumbnail.call(this, mockFile, "<%= "/spree/uploads/ord_#{@order.id}/li_#{item.id}/#{file.id}/thumb/#{file.image_file_name}" %>");
          // aggiungo id per rimozione file
          $(mockFile.previewTemplate).find('.dz-remove').attr('id', <%= file.id %>);
          mockFile.previewElement.classList.add('dz-success');
          mockFile.previewElement.classList.add('dz-complete');
        <% end %>
      }
    }); // new dropzone

    //link ad ajax per verifica file
    //$("#approva_<%= item.id %>").click(inviaApprovazioneFile(<%= item.id %>, "approvato", ""));
    //$("#disapprova_<%= item.id %>").click(inviaApprovazioneFile(<%= item.id %>, "disapprovato", $("#motivazione_disapprovazione_<%= item.id %>").val()));
    $("#approva_<%= item.id %>").click(function(){
      $.ajax({
        type: 'POST',
        url: '/line_item/' + <%= item.id %> + '/approvazione',
        data: {line_item_id: <%= item.id %>, approvazione: "approvato", info: ""},
        success: function(data){
          console.log(data.message);
        }
      });
    });
    $("#disapprova_<%= item.id %>").click(function(){
      $.ajax({
        type: 'POST',
        url: '/line_item/' + <%= item.id %> + '/approvazione',
        data: {line_item_id: <%= item.id %>, approvazione: "disapprovato", info: $("#motivazione_disapprovazione_<%= item.id %>").serialize()},
        success: function(data){
          console.log(data.message);
        }
      });
    });
    $("#storico_<%= item.id %>").click(function(){
    $("#body_storico_<%= item.id %>").html("Loading...");
    $("#modal_storico_<%= item.id %>").modal({});
      $.ajax({
        async: true,
        type: 'GET',
        url: '/line_item/' + <%= item.id %> + '/storico',
        success: function(data){
          //console.log(data);
          $("#body_storico_<%= item.id %>").html(data);
        }
      });
    });

  <% end %>
  // verifica files

  inviaApprovazioneFile = function inviaApprovazioneFile(line_item_id, approvazione, info){
    console.log("bla");
    alert("bla "+line_item_id);
    $.ajax({
      type: 'POST',
      url: '/line_item/' + line_item_id + '/approvazione',
      data: {line_item_id: line_item_id, approvazione: approvazione, info: info},
      success: function(data){
        console.log(data.message);
      }
    });
  }
</script>
